@import "bootstrap.min";


/* Build our stylesheet, which currently merely extends bootstrap styles. */
body {
}

.logo {
	@extend .navbar-brand;
}

.container {
	@extend .container;
	position: relative;
}

.primary-header {
	@extend .navbar;
	@extend .navbar-inverse;
	@extend .navbar-static-top;
}
	.primary-header__title {
		@extend .navbar-header;
	}
	.primary-header__toggle {
		@extend .navbar-toggle;
		margin-top: 2.5em;
	}
	.primary-header__collapse {
		@extend .navbar-collapse;
		@extend .collapse;
	}
	.primary-header__meta-nav {
		@extend .nav;
		@extend .navbar-nav;
		@extend .navbar-right;
		margin-top: 2em;
	}

.icon-bar {
	@extend .icon-bar;
}

%notice {
	@extend .alert;
	margin-top: -1em;
	position: absolute;
	width: 100%;
	z-index: 200;
}
	.notice-success {
		@extend %notice;
		@extend .alert-success;
	}
	.notice-error {
		@extend %notice;
		@extend .alert-danger;
	}
	.notice-info {
		@extend %notice;
		@extend .alert-info;
	}

.hero {
	@extend .jumbotron;
}

.button {
	@extend .btn;
}
	.button--large {
		@extend .btn-lg;
	}
	.button--primary {
		@extend .btn-primary;
	}
	.button--default {
		@extend .btn-default;
	}

.row {
	@extend .row; // INCEPTION UP IN THIS PIECE
}
	.col-third {
		@extend .col-md-4;
	}

.login-form {
	@extend .form-horizontal;
}

.control-group {
	@extend .control-group;
}
	.control-label {
		@extend .control-label;
	}
	.controls {
		@extend .controls;
	}
