APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString
APP_URL=http://symposiumapp.com/

DB_CONNECTION=mysql
DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file

MAIL_USERNAME=
MAIL_PASSWORD=
ADMIN_EMAIL=email

TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_TOKEN_SECRET=

SLACK_ENDPOINT=

CAPTCHA_PUBLIC=
CAPTCHA_PRIVATE=

BUGSNAG_API_KEY=
BUGSNAG_NOTIFY_RELEASE_STAGES=staging,production

GOOGLE_MAPS_API_KEY=

ALGOLIA_APP_ID=
ALGOLIA_SECRET=
