/node_modules
/vendor
.env
.sass-cache/
/storage/*.key
/public/css/app.css
/public/css/app.css.map
/public/js/app.js
/public/js/app.js.map
/public/js/location.js
/public/js/location.js.map
/storage/debugbar
/storage/framework/testing
/.phpunit.cache
.idea/*
phpunit.xml

/public/build