@tailwind base;

@tailwind components;

@tailwind utilities;

.alert {
    padding: 15px;
    margin-bottom: 21px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    background-color: #18BC9C;
    border-color: #18BC9C;
    color: #fff;
}

.alert-warning {
    background-color: #F39C12;
    border-color: #F39C12;
    color: #fff;
}

.alert-danger {
    background-color: #E74C3C;
    border-color: #E74C3C;
    color: #fff;
}

.alert-info {
    background-color: #3498DB;
    border-color: #3498DB;
    color: #fff;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

%notice {
    @extend .alert !optional;
    right: 1em;
    top: 8em;
    position: fixed;
    width: 20%;
    min-width: 250px;
    z-index: 200;
    text-align: center;
    cursor: pointer;
}

.notice-success {
    @extend %notice;
    @extend .alert-success !optional;
}

.notice-error {
    @extend %notice;
    @extend .alert-danger !optional;
}

.notice-info {
    @extend %notice;
    @extend .alert-info !optional;
}

#calendar {
    button {
        @apply bg-indigo-500 text-white h-auto shadow-none;
    }

    .fc-button-group {
        @apply rounded overflow-hidden;

        button {
            @apply bg-indigo rounded-none;

            &.fc-button-active {
                @apply bg-indigo-900;
            }
        }
    }

    .fc-event-title {
        @apply p-1;
    }

    .fc-popover-close:after {
        @apply hidden;
    }
}

[v-cloak] {
    display: none;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}


.mobileMenuBtn {
    @apply relative flex justify-center items-center w-16 h-16;

    &:before,
    &:after {
        @apply absolute block w-6 h-0.5 bg-indigo-800 transition duration-75 ease-in-out;
        content: '';
    }

    &:before {
        top: calc(50% - 6px);
        transform: translateY(-50%) rotate(0deg);
    }

    &:after {
        bottom: calc(50% - 8px);
        transform: translateY(-50%) rotate(0deg);
    }

    &.isActive {
        &:before { transform: translateY(calc(-50% + 8px)) rotate(45deg); }
        &:after { transform: translateY(calc(-50% - 4px)) rotate(-45deg); }
    }
}

.toggle-checkbox:checked + .toggle-label {
    @apply text-indigo-900 bg-indigo-900;
}
