@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./calendar";
@import "./mobile-menu-button";

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

[v-cloak] {
    display: none;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.toggle-checkbox:checked + .toggle-label {
    @apply text-indigo-900 bg-indigo-900;
}
