#github-login-panel {
    text-align: center;
}

#github-login-panel .btn {
    background-image: none;
    border: 1px solid transparent;
    border-radius: 47px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0px; 
    padding: 15px 2px 15px 30px;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.btn-social {
    overflow: hidden;
    padding-left: 30px;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#github-login-panel .btn-block {
    display: inline-block;
    margin-bottom: 5px;
    width: 75%;
}

.btn-social>:first-child {
    bottom: 0;
    font-size: 1.6em;
    left: 25px;
    line-height: 34px;
    position: absolute;
    text-align: center;
    top: 9px;
    width: 32px;
}

.btn-github {
    background-color: #444;
    border-color: rgba(0,0,0,0.2);
    color: #fff;
}

.btn-github:focus,.btn-github.focus {
    background-color: #2b2b2b;
    border-color: rgba(0,0,0,0.2);
    color: #fff;
}

.btn-github:hover {
    background-color: #2b2b2b;
    border-color: rgba(0,0,0,0.2);
    color: #fff;
}

.btn-github:active,.btn-github.active,.open>.dropdown-toggle.btn-github {
    background-color: #2b2b2b;
    border-color: rgba(0,0,0,0.2);
    color: #fff;
}

.btn-github:active:hover,.btn-github.active:hover,.open>.dropdown-toggle.btn-github:hover,.btn-github:active:focus,.btn-github.active:focus,.open>.dropdown-toggle.btn-github:focus,.btn-github:active.focus,.btn-github.active.focus,.open>.dropdown-toggle.btn-github.focus {
    background-color: #191919;
    border-color: rgba(0,0,0,0.2);
    color: #fff;
}

.btn-github:active,.btn-github.active,.open>.dropdown-toggle.btn-github {
    background-image: none;
}

.btn-github.disabled:hover,.btn-github[disabled]:hover,fieldset[disabled] .btn-github:hover,.btn-github.disabled:focus,.btn-github[disabled]:focus,fieldset[disabled] .btn-github:focus,.btn-github.disabled.focus,.btn-github[disabled].focus,fieldset[disabled] .btn-github.focus {
    background-color: #444;
    border-color: rgba(0,0,0,0.2);
}

.btn-github .badge {
    background-color: #fff;
    color: #444;
}

#non-github-login {
    color: grey;
    font-size: small;
    font-weight: 600;
}
