// Bootstrap & Flatly ( http://bootswatch.com/flatly/ )
@import "variables", "bootstrap", "bootswatch";

$link_color: #428bca;

/* Build our stylesheet, which currently merely extends bootstrap styles. */
body {
}

img {
    max-width: 100%;
}

a {
    color: $link_color;
    text-decoration: none;

    &:hover {
        color: darken($link_color, 15%);
        text-decoration: underline;
    }
}

.logo {
    @extend .navbar-brand;
}

.gravatar {
    border-radius: 1.5em;
    height: 3em;
    margin-right: 0.5em;
    margin-top: -0.5em;
    width: 3em;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

@media only screen and (min-width: 400px) {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.5rem;
    }
}

fieldset {
    border: 1px solid #aaa;
    border-width: 1px 0 0 0;
    margin-bottom: 2em;
    padding: 1em 0 0 0;
}

legend {
    color: lighten(desaturate(rgb(44, 62, 80), 20%), 5%);
    margin-bottom: 0;
    margin-left: 0.5em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    width: inherit;
}


.container {
    @extend .container;
    position: relative;
}

.primary-header {
    @extend .navbar;
    @extend .navbar-default;
    @extend .navbar-static-top;
}

.primary-header__title {
    @extend .navbar-header;
}

.primary-header__toggle {
    @extend .navbar-toggle;
    margin-top: 2.5em;
}

.primary-header__collapse {
    @extend .navbar-collapse;
    @extend .collapse;
}

.primary-header__meta-nav {
    @extend .nav;
    @extend .navbar-nav;
    @extend .navbar-right;
    margin-top: 2em;
}

.icon-bar {
    @extend .icon-bar;
}

%notice {
    @extend .alert;
    margin-top: -1em;
    position: absolute;
    width: 100%;
    z-index: 200;
}

.notice-success {
    @extend %notice;
    @extend .alert-success;
}

.notice-error {
    @extend %notice;
    @extend .alert-danger;
}

.notice-info {
    @extend %notice;
    @extend .alert-info;
}

.hero {
    // @extend .jumbotron;
    font-size: 2rem;

    h1 {
        font-size: 5.5rem;
    }

    img {
        border: 2px solid #eee;
    }
}

.button {
    @extend .btn;
}

.button--large {
    @extend .btn-lg;
}

.button--primary {
    @extend .btn-primary;
}

.button--default {
    @extend .btn-default;
}

.row {
    @extend .row; // INCEPTION UP IN THIS PIECE
}

.col-third {
    @extend .col-md-4;
}

.login-form {
}

.control-group {
}

.control-label {
}

.controls {
}

.list-sort {
    border-left: 3px solid #ddd;
    color: #888;
    font-size: 0.9em;
    padding-left: 0.5em;
    text-transform: uppercase;

    a {
        color: lighten($link_color, 10%);
    }
}

%index-list {
    border-top: 1px solid #ddd;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;

    li {
        border-bottom: 1px solid #ddd;
    }

    h3 {
        margin-bottom: 0;
    }
}

.list-talks {
    @extend %index-list;

    h3 {
        font-size: 1.5em;
    }
}

.talk-meta, .bio-meta {
    color: #666;
    font-size: .9em;
}

.list-versions {
    @extend %index-list;

    h3 {
        margin-top: 0.2em;
    }
}

.list-conferences {
    @extend %index-list;
    margin-left: 3rem;

    .conference-meta {
        font-size: .8em;
        margin-top: 0.25em;
    }

    .fav-button {
        color: #ee9900;
        float: left;
        height: 2rem;
        margin-left: -3rem;
        margin-top: 0.4rem;
        text-align: center;
        width: 2rem;

        &--faved {
        }

        &:hover {
            color: #ff5500;
        }
    }
}

.list-bios {
    @extend %index-list;

    h3 {
        font-size: 2rem;
    }
}

.actions-box {
    @media only screen and (min-width: 768px) {
        float: right;
        width: 20%;
    }
}

.footer {
    margin-top: 4em;
}

.errors {
    color: red;
}

.edit-talk-form, .new-talk-form {
//    textarea {
//        height: 10em;
//        width: 100%;
//    }
}

.talk-body {
    border: 1px solid #bbb;
    max-width: 55em;
    padding: 1em;
}

.create-button {
    @extend .pull-right;
    @extend .btn;
    @extend .btn-primary;

    margin-left: 1em;
}

.filter-link {
    &.is-active {
        font-weight: bold;
    }
}

.btn-default.zeroclipboard-is-hover {
    color: $btn-default-color;
    background-color: darken($btn-default-bg, 10%);
    border-color: darken($btn-default-border, 12%);
}
