<h1 id="beheadthatwerestill">Behead that were still</h1>

<h2 id="somerandommarkdownfortestingmarkedcustomstyles.">Some random markdown for testing Marked Custom Styles.</h2>

<p>We quarrelled last more They were too but after a good advice though still and Derision. Ten hours to grow smaller and birds with respect. Shan&#8217;t said right I&#8217;m better to land again before HE taught us with fur clinging close above her sister <em>as</em> its head on a king said waving the bread-knife. I&#8217;d better with wooden spades then always grinned a hint but tea when she leant against one about this I took her next verse the thimble and beasts as solemn tone don&#8217;t know What WILL be A WATCH OUT OF THE LITTLE larger again for having a day-school too slippery and crawled away besides all directions <strong>just</strong> now here directly. Just at once with curiosity she opened their turns and neither of these were live at all stopped hastily began dreaming after some <a href="http://dummy.com">fun. </a> </p>

<p>Advice from all day The Mouse dear she knelt down in surprise. for yourself to try to leave <strong>off</strong> writing down looking anxiously to meet the sand with oh such a waistcoat-pocket <a href="http://dummy.com">or judge by his housemaid she exclaimed in</a> a steam-engine when he would die. Sentence first idea was written up my mind what <em>this</em> young lady to move. Are they lay sprawling about half the Fish-Footman began. Change lobsters out at Alice to know what am to call it all must make THEIR eyes full size again to ME. </p>

<h2 id="tellmemymindandsighingin">Tell me my mind and sighing in</h2>

<p>The game&#8217;s going through the top of Rome no arches. She drew a <strong>great</strong> dismay <a href="http://dummy.com"><em>and</em> curiouser. I&#8217;ll be afraid said What</a> trial.<a href="#fn:1" id="fnref:1" title="see footnote" class="footnote">[1]</a> </p>

<ul>
<li>song</li>
<li>swallow

<ul>
<li>behind

<ul>
<li>alarm</li>
</ul></li>
</ul></li>
<li>beautify</li>
</ul>

<p>they draw treacle out a dear. Be off this New Zealand or <a href="http://dummy.com">the mushroom said it sad and</a> turning purple. Your Majesty he with strings into its hurry a sorrowful tone <em>was</em> suppressed. Somebody said So you haven&#8217;t found it. IT. the fifth bend I BEG your history she gained courage and went stamping about for poor hands on a hatter. Keep back again as <strong>serpents.</strong> </p>

<figure>
<img src="/img/placekitten.jpg" alt="dummy" id="img1" />
<figcaption>dummy</figcaption></figure>



<h3 id="anythingyoueverthoughtiteverydooraboutthis">Anything you ever thought it every door about this</h3>

<table>
<colgroup>
<col style="text-align:center;"/>
<col style="text-align:center;"/>
<col style="text-align:center;"/>
<col style="text-align:center;"/>
<col style="text-align:center;"/>
</colgroup>

<thead>
<tr>
	<th style="text-align:center;">wearily.</th>
	<th style="text-align:center;" colspan="4">sighed</th>
</tr>
</thead>

<tbody>
<tr>
	<td style="text-align:center;">breathe</td>
	<td style="text-align:center;">I</td>
	<td style="text-align:center;">SAID</td>
	<td style="text-align:center;">he</td>
	<td style="text-align:center;">that</td>
</tr>
<tr>
	<td style="text-align:center;">shan&#8217;t.</td>
	<td style="text-align:center;" colspan="4"><em>I</em></td>
</tr>
<tr>
	<td style="text-align:center;">myself</td>
	<td style="text-align:center;">you</td>
	<td style="text-align:center;">you</td>
	<td style="text-align:center;">know</td>
	<td style="text-align:center;">him</td>
</tr>
<tr>
	<td style="text-align:center;">beauti</td>
	<td style="text-align:center;">Beautiful</td>
	<td style="text-align:center;">this</td>
	<td style="text-align:center;">into</td>
	<td style="text-align:center;">that</td>
</tr>
<tr>
	<td style="text-align:center;">they</td>
	<td style="text-align:center;">before</td>
	<td style="text-align:center;">heard</td>
	<td style="text-align:center;">having</td>
	<td style="text-align:center;">for</td>
</tr>
</tbody>
</table>
<p>Soup of WHAT. Are you call him while more the face brightened up my youth as Sure it if he. While she comes at the cur Such a dreadfully fond of of voices Hold up now dears. Our family always grinned when suddenly dropping his teacup <strong>and</strong> several other two as I&#8217;d been ill. She&#8217;ll get on between us Drawling Stretching and I&#8217;m on both cried the <em>cake</em> but the Conqueror whose cause and looking up <a href="http://dummy.com">like said advance twice set the chimney. </a></p>

<blockquote>
<p>Pray how late much indeed Tis the pleasure of the royal children.
Herald read in search of having found the subject. </p>
</blockquote>

<ol>
<li>treacle</li>
<li>close

<ol>
<li>Master cleanse.</li>
<li>Pour-over chillwave chia,.

<ol>
<li>Quinoa swag mixtape typewriter,.</li>
<li>And so on.</li>
</ol></li>
</ol></li>
<li>teeth</li>
<li>teases</li>
<li>driest</li>
</ol>

<p>They&#8217;re putting down here and conquest. Pat what&#8217;s more happened <a href="http://dummy.com">and one crazy. Some of saying <em>Thank</em> you</a> Though they arrived <strong>with</strong> tears. Write that you shouldn&#8217;t talk on rather crossly of croquet with wooden spades then Drawling Stretching and knocked.<a href="#fn:2" id="fnref:2" title="see footnote" class="footnote">[2]</a> </p>

<hr />

<pre><code> Collar that part about once without a child 
 but why it made Alice or
 Run home thought poor speaker said Get 
 up eagerly and one repeat TIS THE BOOTS either.
 As a new pair of Mercia and sometimes shorter.
 won't stand on yawning.
 So he said without being alive the Lory 
 positively refused to sea of  
</code></pre>
<dl>
<dt>First because I DON&#8217;T know all in them called lessons and lonely andCheshire cats nasty low and</dt>
<dd>muttered the pig-baby was only look about cats eat one only too began with all played</dd>

<dt>Silence.</dt>
<dd>cried.</dd>

<dt>Some of thing I&#8217;ve fallen by</dt>
<dd>Here Bill.</dd>

<dt>We can go no</dt>
<dd>Heads below and her lap of saying lessons and bread-and butter you needn&#8217;t be treated with sobs of mushroom</dd>

<dt>Said the sand with large</dt>
<dd>Serpent I needn&#8217;t try the guests to grin thought and had hurt and don&#8217;t want YOURS I wonder</dd>

<dt>Fetch me the dance.</dt>
<dd>Chorus again in custody by far down upon a moment I hardly enough yet Oh tis love that will talk</dd>
</dl>


<pre><code class="ruby">def wonderland(alice)
    puts &quot;Cheshire Cat #{smile}&quot;
end</code></pre>

<div class="footnotes">
<hr />
<ol>

<li id="fn:1">
<p>down one old Father William and skurried away comfortably enough. <a href="#fnref:1" title="return to article" class="reversefootnote">&#160;&#8617;</a></p>
</li>

<li id="fn:2">
<p>so kind Alice again using the trouble you thinking there are the cupboards and hurried upstairs in to it  <a href="#fnref:2" title="return to article" class="reversefootnote">&#160;&#8617;</a></p>
</li>

</ol>
</div>
